{% extends 'base.html.twig' %}

{% block title %}Modifier  MessageGrandFournisseur{% endblock %}
{% block ariane %}
{{parent() }} Message Grand Fournisseur
{% endblock %}
{% block body %}
    {{ include('message_grand_fournisseur/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('app_message_grand_fournisseur_index') }}">retour à la liste</a>

    {{ include('message_grand_fournisseur/_delete_form.html.twig') }}
{% endblock %}
