{% extends 'base.html.twig' %}

{% block title %}Modifier  MessagePetitClient{% endblock %}
{% block ariane %}
{{parent() }} Message Petit client 
{% endblock %}
{% block body %}
    {{ include('message_petit_client/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('app_message_petit_client_index') }}">retour à la liste</a>

    {{ include('message_petit_client/_delete_form.html.twig') }}
{% endblock %}
