{% extends 'base.html.twig' %}

{% block title %}Parametres  GRCS{% endblock %}
{% block lesboutons %}
	
{% endblock %}
{% block ariane %}
{{parent() }} GRCS
{% endblock %}
{% block body %}

    {{ include('grcs/_form.html.twig') }}

    {# <a href="{{ path('app_g_r_c_s_index') }}">retour à la liste</a> #}
{% endblock %}
