<form method="post" action="{{ path('app_compte_petit_client_delete', {'id': compte_petit_client.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer définitivement cet élément?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ compte_petit_client.id) }}">
    <button class="btn btn-default "> <span class="fa fa-times-circle " > Supprimer  </button>
    
</form>
