{% extends 'base.html.twig' %}

{% block title %}Nouveau  ComptePetitClient{% endblock %}
{% block ariane %}
{{parent() }} Compte client
{% endblock %}
{% block body %}
    {{ include('compte_petit_client/_form.html.twig') }}

    {# <a href="{{ path('app_compte_petit_client_index') }}">retour à la liste</a> #}
{% endblock %}
