{% extends 'base.html.twig' %}

{% block title %}Modifier  ActivationPostPaye{% endblock %}
{% block ariane %}
	GRCS
	<span class="fa fa-angle-double-right"></span>
	Mode PostPayé
{% endblock %}
{% block lesboutons %}{% endblock %}

{% block body %}
    {{ include('activation_post_paye/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    {# <a href="{{ path('app_activation_post_paye_index') }}">retour à la liste</a> #}

    {# {{ include('activation_post_paye/_delete_form.html.twig') }} #}
{% endblock %}
